# Development/test environment uses Python 3.6.

bumpversion
django~=2.2.8
django-debug-toolbar
django-extensions
djangorestframework
flake8
ipython
pycodestyle
pip-tools
pytest
pytest-cov
pytest-django
pytest-flake8
pytest-runner
sphinx
tox
