# Development/test environment uses Python 3.7.

bumpversion
django~=3.0.0
django-debug-toolbar
django-extensions
djangorestframework
flake8==3.7.8
ipython
pycodestyle
pip-tools
pytest
pytest-cov
pytest-django
pytest-flake8
pytest-runner
sphinx
tox
twine
